[submodule "src/modules"]
	path = src/modules
	url = https://github.com/quachtina96/scratch-vm.git
	branch = speech_sb2
[submodule "node_modules/scratch-vm"]
	path = node_modules/scratch-vm
	url = https://github.com/quachtina96/scratch-vm.git
	branch = speech_sb2
[submodule "scratch-storage"]
	path = scratch-storage
	url = https://github.com/quachtina96/scratch-storage.git
	branch = develop
[submodule "node_modules/scratch-storage"]
	path = node_modules/scratch-storage
	url = https://github.com/quachtina96/scratch-storage.git
	branch = develop
